.card {

    &__header {
        display: flex;
        justify-content: space-between;

        
    }
    
    &__title {
        font-weight: bold;
        white-space: nowrap;
        max-width: 30rem;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        word-wrap: break-word;
    }

    &__description-input {
        width: 100%;
    }

    &__title-input {
        width: 100%;
    }

    &__actions {
        display: flex;
        justify-content: space-between;

        & button {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background-image: linear-gradient(to right, rgb(19, 46, 76), rgb(40, 96, 118));
        }
    }
}

mat-icon {
    cursor: pointer;
}